<div class="container">
  <%= render "shared/errors", record: @user %>
  <div class="form">
    <%= form_for(@user, url: user_path) do |f| %>
      <div class="form-inputs">
        <%= f.text_field :username, placeholder: "Enter a username", class: "form-control" %>
        <%= f.password_field :password, placeholder: "Enter a password", class: "form-control" %>
      </div> 
      <%= f.submit %>
    <% end %>
  </div>
</div>


